* {
  margin: 0; 
	padding: 0; 
	border: 0; 
	outline: none; 
	box-sizing: border-box; 
	background: transparent; 
	font-family: inherit; 
} 
	 
a{
  text-decoration: none; 
} 

a img { 
	border: none; 
} 

button, 
a { 
  cursor: pointer; 
	color: inherit; 
} 

textarea { 
	resize: none; 
} 

button, 
textarea, 
select { 
	appearance: none !important; 
	border-radius: 0; 
}
/* RESET OVER */

/* || GENERAL STYLES */

html {
	scroll-behavior: smooth;
}

body {
  font-family: 'Maven Pro', sans-serif;
}

h1 {
  font-size: 55px;
  line-height: 60px;
  text-transform: uppercase;
  letter-spacing: -7;
  padding-bottom: 30px;
  color: #fff;
}

p {
  font-size: 16px;
  font-weight: 200;
  line-height: 28px;
  padding-top: 30px;
  padding-bottom: 60px;
  font-weight: 300;
  color: #fff;
}

button {
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  min-width: 120px;
  max-width: 320px;
  margin-top: 20px;
  cursor: pointer;
  color: #fff;
}

.primary-button {
  height: 44px;
  width: 180px;
  background-color: #7A5AF5;
}

.primary-button:hover {
  background-color: #6742f4;
}

.secondary-button {
  height: 44px;
  width: 180px;
  background-color: transparent;
  border: 3px solid #02DAD2;
  margin-right: 20px;
}

.secondary-button:hover {
  background-color: #02DAD2;
}

header {
  position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 120px;
	z-index: 99;
  padding: 80px 120px 0;
  background-color: #072CC9;
}

/* || UTILITIES */

.topnav-left {
  float: left;
}

.topnav-left a {
  font-size: 18px;
  line-height: 40px;
  font-weight: 800;
  text-transform: uppercase;
  color: white;
  padding-right: 60px;
  margin-top: 10px;
}

.topnav-left a:hover {  
  color: #02DAD2;
  cursor: pointer;
}

.topnav-left a.active {
  color: #02DAD2;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  display: inline;
  float: right;
  right: 0;
}

.topnav-right i {
  color: white;
  font-size: 40px;
}

.topnav-right i:hover {
  color: #02DAD2;
  cursor: pointer;
}

section {
  min-height: 100vh;
}

section#home, 
section#blog {
  background: #072CC9;
}

section#price,
section#contact {
  background-color: #294E9C;
}

.leader {
  /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; */
  height: 70vh;
  margin: 120px 0;
  padding-top: 150px;
  background-color: #072CC9;
  text-align: center;
}

.column1 {
  display: inline-block;
  width: 35%;
  text-align: left;
  padding-right: 10px;
}

#home .column1 .highlighted-word {
  color: #02DAD2;
}

.column2 {
  display: inline-block;
  padding-left: 10px;
}

.devices-illustration {
  width: 50vh;
  text-align: center;
}

.carousel-indicators {
  text-align: center;
}

.carousel-indicators button {
  display: inline;
  background-color: #fff;
  min-width: 20px;
  height: 20px;
  border-radius: 10px;
  margin: 10px 10px;
  border: 4px solid #7a59f5;
}

button.carousel-indicator-1 {
  background-color: #294f9c;
}

aside.social-icons {
  min-width: none;
  min-height: 60px;
  filter: invert(100%);
  padding: 0px 120px;
}

aside.social-icons i {
  min-height: 200px;
}